<button (click)="isNewUser = !isNewUser">CHANGE</button>

<app-header></app-header>

<!--// Change Detection-->
<app-main [newUser]="isNewUser"></app-main>

<h1>{{title}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{title | uppercase}}</h1>

<header>This is => Angular app.component</header>
<h2>Normal Date is => {{beautifulDay | date}}</h2>
<h2>my day is => {{beautifulDay | date: 'YY/MM/dd - hh:mm' }}</h2>
<h3>Normal num is => {{price}}</h3>
<h3>Today I won => {{price | currency:'ILS'}}</h3>
<h3>I feel => {{price | percent}}</h3>
<h3>Number is => {{price | number}}</h3>

<div *ngIf="isNewUser; else noNewUser">
  New World is => New User!
</div>

<ng-template #noNewUser>
  Welcome Back!
  <ul>
    <li *ngFor="let wishes of bestWishes;">
      {{wishes}}
    </li>
  </ul>
</ng-template>


<ng-container *ngIf="isNewUser">
  <section class="pop">
    <header>live</header>
    <main>IS</main>
    <footer>LIVE</footer>
  </section>
</ng-container>

<input type="text" [(ngModel)]="title">


<!--<h2>{{someVarName}}</h2>-->
<!--<input type="text" [value]="someVarName">-->

<!--<h1>{{someVarName}}</h1>-->
<!--<input type="text" (change)="changeTitle($event)">-->

<!--<button (click)="alertMess()">click me</button>-->


